@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
  
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  flex: 1;
  padding: 10px;
  width: 200px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  flex: 1;
}

.header{
  width: 100%;
  display: flex;
  flex:0.5;
  color: #ccc;
}


.left-links{
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  display: flex;
  gap: 10px;
  padding: 10px;
}

a{
  text-decoration: none;
  color: #707070;
}

.left-links li{
  list-style: none;
}

.right-links{
  justify-content: flex-end;
  align-items: center;
  display: flex;
  flex: 1;
  gap: 10px;
  padding: 10px;
}

.right-links li{
  list-style: none;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:20px;
  flex: 4;
}
.buttons{
  display: flex;
  flex-direction: row;
  gap:10px;
  justify-content: center;
}

.footer{
  flex: 0.5;
  display: flex;
  background: #ccc;
  margin: 0;
  padding:0;
}




